@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');


body {
    font-family:'Source Code Pro', monospace;
    font-size: larger;
    font-weight: 600;
}
h1 {
    font-family: 'Piedra', cursive;
}

.col-4, .col-1, .col-2, .col-3{
    margin-top: auto; 
    margin-bottom: auto;
}

