body {
    font-family: 'calibri';
    background-color: rgb(236, 236, 236);
}

.jumbotron {
    color: white;
    font-weight: bold;
    background-color: black;
    border: 10px black;
    border-style: solid;
    width: 100%;
    font-size: 60px;
}

#header {
    background-image: url("https://wikitravel.org/upload/shared//f/f1/Mount_Apo_Banner.jpg");
    background-size: 1500px 200px;
}

h1 {
    font-family: fantasy;
}

h3 {
    text-align: center;
}

#hiking {
    background-image: url("https://wallpaperaccess.com/full/1638233.jpg");
    background-size: cover;
}

#movie {
    background-image: url(" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2BF5GCrJ73ZB5dyeDm3Pz4rlnDH5WyCQCNerbjiZJtoDEpZP0&usqp=CAU");
    background-size: cover;
}

.panel {
    text-align: center;
    border: none;
}

.panel-title {
    background-color: rgb(255, 178, 34);
    font-size: 30px;
    border: 1px solid black;
    border-top: none;
    padding: 5px
}

.panel-body {
    background-color: rgb(235, 235, 235);
    border: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
}

#filter-title {
    font-size: 20px;
    background-color: rgb(137, 192, 255);
}

#movie-charts {
    margin: auto;
    align-items: center;
    text-align: center;
}

#select-text {
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 3%;
    height: 100%;
}

#form, #table {
    text-align: center;
}

.navbar {
    margin: 0%;
    background-color: rgb(26, 26, 26);
    border-bottom: 2pt solid rgb(212, 212, 205);
    border-bottom: 2pt solid rgb(212, 212, 205);
    padding: 0%;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.nav, .navbar-nav {
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.navbar-brand {
    font-size: 20px;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#word-memo {
    text-align: center;
    border: 1pt solid rgb(145, 7, 7);
    padding: 2%;
    width: 80%;
    margin: auto;
    background: white;
    box-shadow: 2px 2px  rgb(189, 189, 189) , -2px -2px rgb(189, 189, 189) ;
    margin-top: 2%;
    margin-top: 1%;
    color: black
}  

#memo {
    padding-bottom: 1%;
}

hr {
    color: grey;
}

a {
    color: rgb(255, 178, 34);
}

p {
    margin-bottom: 0;
}

#select-genre {
    font-size: 14pt;
    background-color: rgb(245, 198, 43);
    border: 1pt solid black;
    border-radius: 4px;
    padding: .5em;
}

#map {
    width: 100px;
    height:100px;
    min-height: 100%;
    min-width: 100%;
    display: block;
    z-index: -1;
}

html, body {
    height: 100%;
}

#map-holder {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#map-try {
    max-width:60em;
    padding: 0.2em;
}

#trails {
    text-align: center;
    font-size: 15pt;
    padding: 3%;
}

#trails-text {
    background-color: rgb(245, 198, 43);
    width: 40%;
    margin: auto;
    border-radius: 2%;
    border: .5pt solid black
}

#border {
    border-top: 1.5pt solid black;
    border-bottom: 1.5pt solid black;
    width: 100%;
    padding-top: 3%;
    font-size: 20px;
}

#top-border {
    border-top: .5pt solid black;
    width: 100%;
    padding-top: 3%;
    font-size: 20px;
}

#the-box {
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    width: 100%;
    font-size: 20px;
}

#trails-container {
    padding: 3.5em;
}

#choice {
    font-size: 25pt;
    text-align: center;
    padding: 1%;
    margin-top: .5em;
}

#button-choice {
    margin: 1%;
    text-align: center;
    background-color: rgb(139, 21, 5);
    border: 5pt solid rgb(134, 20, 5);
    width: 25%;
    box-shadow: -3px 4px 3px rgb(189, 188, 188);
}

#button-choice:hover {
    background-color: rgb(7, 7, 66);
    border: 5pt solid rgb(7, 7, 66);
}

#choose {
    margin: 0%;
    text-align: center;
}

#button-box {
    border: .5pt solid black;
}

.bar {
    background-color: white;
    height: 100%;
}

#chart {
    padding: 0;
    border: .5pt solid black;
}

th, td {
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
    color:white;
    background-color:grey; 
  }

#svg-container {
    width: 100%
}

#table-data {
    overflow-x: scroll;
    overflow-y: scroll;
    overflow: scroll;
    height: 555px;   
}

#table-header {
    font-size: 45px;
}

.well {
    background-color: rgb(245, 198, 43);
    margin-bottom: 0;
    border: 1pt solid black;
    color: black;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    vertical-align: middle;
}

#use-filters {
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

footer {
    background-color: rgb(26, 26, 26); 
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    border-top: 2pt solid rgb(133, 133, 133);;
    color: white; 
    min-height: 55px; 
    font-family: 'Calibri';
    font-size: 16px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 12px; 
    box-shadow: 0px -1px 4px rgb(170, 170, 170);
    z-index: 1;
}
